.d-flex {
  display:flex;
}

.flex-row {
  flex-direction:row;
}

.flex-column {
  flex-direction:column;
}



.flex-fill {
  flex: 1 1 auto;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

.gap-12 {
  gap: 12px;
}

.gap-16 {
  gap: 16px;
}

.gap-24 {
  gap: 24px;
}

.pr-10 {
  padding-right:10px;
}

.mb-5 {
  margin-bottom:5px;
}

.mb-10 {
  margin-bottom:10px;
}

.mb-15 {
  margin-bottom:15px;
}


.mb-20 {
  margin-bottom:20px;
}

.mr-5 {
  margin-right:5px;
}

.mr-10 {
  margin-right:10px;
}

.mr-20 {
  margin-right:20px;
}

.mt-10 {
  padding-top:10px;
}

.mt-20 {
  padding-top:20px;
}

.pt-20 {
  margin-top:20px;
}


.wit-50 {
  width:50%
}

.wlt-full {
  width:100%;
}

.p-5 {
  padding:5px;
}

.p-7 {
  padding:7px;
}

.p-10 {
  padding:10px;
}

.p-20 {
  padding:20px;
}

.m-20 {
  margin:20px;
}

.pl-20 {
  padding-left:20px;
}

.pr-10 {
  padding-right:10px;
}

.pr-20 {
  padding-right:20px;
}

button[disabled] {
  opacity:0.5;
}



.menu {
  color:white;
  padding:20px;
  align-items: center;
  font-weight:normal;
  gap:10px;

}
