@use './../../../styles/mixins' as mixin;

    .card {
      border-radius:10px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      background:white;
      padding:20px;
    }

    form {
      @include mixin.sm {
        width:600px;
      }
      @include mixin.md {
        width:600px;
      }
      @include mixin.lg {
        width:600px;
      }
      @include mixin.xl {
        width:600px;
      }
    }
    form label {
      color:var(--gray-700);
      font-weight:500;
    }
    form input {
      background:rgb(248, 250, 252);
      -moz-autofill-background:rgb(248, 250, 252);
      border:1px solid rgb(226, 232, 240);
      //width:300px;
      height:40px;
    }
    form h2 {
      align-items:left;
    }
    .input2 {
      width:100%;
    }
    .form-end button span {
      color:white;
      font-weight:500;
    }
    .btn-connexion {
      border-radius:10px;
      background:rgb(248, 250, 252);
      padding:10px;
      border:2px solid rgb(226, 232, 240);
      display:flex;
      align-items: center;
      @include mixin.sm {
        align-items: center;
        justify-content:center;
      }
      @include mixin.md {
         align-items: center;
        justify-content:center;
      }
      @include mixin.lg {
         align-items: center;
        justify-content:center;
      }
      @include mixin.xl {
         align-items: center;
        justify-content:center;
      }
     
      
    }
    .error {
      color: red;
      font-size: 0.875rem;
    }
    .cardinscription {
      display:flex;
      color:black;
      font-weight:500;
      flex-direction:column;
      
      
    }

    .inscription {
      display: flex;
      @include mixin.sm {
        flex:1;
        margin-bottom: 20px;
      }
      @include mixin.md {
        flex:1;
        margin-bottom: 20px;
      }
      @include mixin.lg {
        flex:1;
        margin-bottom: 20px;
      }
      @include mixin.xl {
        flex:1;
        margin-bottom: 20px;
      }
    }

    .inscription .btn-inscription {
      display:flex;
      align-items: center;
      justify-content:center;
      @include mixin.xs {
        flex:1;
        
        margin-bottom:20px;
      }
      @include mixin.sm {
        flex:1;
      }
      @include mixin.md {
        flex:1;
      }
      @include mixin.lg {
        flex:1;
      }
      @include mixin.xl {
        flex:1;
      }
      
    }

    .civilnomprenom {
      @include mixin.xs {
        flex-direction:column;
      }
    }

    .nom {
      @include mixin.xs {
        flex:1;
        padding-right:20px;
      }
      @include mixin.sm {
        flex:1;
        padding-right:20px;
      }
      @include mixin.md {
        flex:1;
        padding-right:20px;
      }
      @include mixin.lg {
        flex:1;
        padding-right:20px;
      }
      @include mixin.xl {
        flex:1;
        padding-right:20px;
      }
      
      }

    .prenom {
      @include mixin.xs {
        flex:1;
        
      }
      @include mixin.sm {
        flex:1;
        
      }
      @include mixin.md {
        flex:1;
        
      }
      @include mixin.lg {
        flex:1;
        
      }
      @include mixin.xl {
        flex:1;
        
      }
      
      }