@use './styles/mixins' as mixin;
@use "sass:color";
    :host {
      display:flex;
      flex:row;
      align-items:center;
      background-color:var(--primary);
      height:100px;
      color:white;
      padding:20px;
    }

    .sidenav {
  background:var(--gray-700);
  padding:20px;
  width:280px;
  @include mixin.lg-lt {
    display:none;
  }
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  
  
}

.navbar {
  display:flex;
  align-items:center;
  //height:80px;
  background:var(--mat-sys-tertiary);
  padding:10px 20px 10px 10px;

}

.photo {
  margin:auto;
  width:100%;
}

.navbar .fa-bars {
  color:white;
}

.navbar span {
  color:white;
}

.navbar img {
  width:60px;
  border-radius:100px;
  
}

.mat-sidenav-content {
  display:flex;
  flex-direction:column;
  background:var(--gray-700);
  
  
}


.navbar a {
  text-align:left;
  color:white;
} 


::ng-deep .customize {
  padding:15px 10px 10px 10px;
  background-color:var(--gray-700);
  margin:20px;
}

/*::ng-deep .customize button:hover {
  
  color:white;
  
}*/

::ng-deep .customize2 {
  padding:15px 10px 10px 10px;
  margin:20px;
}

/*::ng-deep .customize2 button:hover {
  
  color:white;
  
}*/

::ng-deep .customize .mat-mdc-menu-item:not([disabled]):hover {
  background-color:var(--gray-700);
  color:white;
}

::ng-deep .customize2 .mat-mdc-menu-item:not([disabled]):hover {
  background-color:var(--gray-700);
  color:white;
}



.content {
  min-height: 100vh;
}

.card {
  background:white;
  box-shadow: black 0px 2px 2px;

}

.fa-house {
  @include mixin.xs {
    font-size:15px;
    padding-right:10px;
  }
  @include mixin.xl {
    font-size:15px;
  }
  @include mixin.sm {
    font-size:15px;
    padding-right:10px;
  }
  @include mixin.md {
    font-size:15px;
    padding-right:10px;
  }
  @include mixin.lg {
    font-size:15px;
    padding-right:10px;
  }
  
  
  
 
}

.fa-book-open {
   @include mixin.xs {
    font-size:15px;
    padding-right:10px;
  }
  @include mixin.sm {
    font-size:15px;
    padding-right:10px;
  }
  @include mixin.md {
    font-size:15px;
    padding-right:10px;
  }
  @include mixin.lg {
    font-size:15px;
    padding-right:10px;
  }
}

.fa-person-running {
  @include mixin.xs {
    font-size:15px;
    padding-right:10px;
  }
  @include mixin.sm {
    font-size:15px;
    padding-right:10px;
  }
  @include mixin.md {
    font-size:15px;
    padding-right:10px;
  }
  @include mixin.lg {
    font-size:15px;
    padding-right:10px;
  }
}

.fa-lightbulb {
  @include mixin.xs {
    font-size:15px;
    padding-right:10px;
  }
  @include mixin.sm {
    font-size:15px;
    padding-right:10px;
  }
  @include mixin.md {
    font-size:15px;
    padding-right:10px;
  }
  @include mixin.lg {
    font-size:15px;
    padding-right:10px;
  }
}

.fa-address-book {
  @include mixin.xs {
    font-size:15px;
    padding-right:10px;
  }
  @include mixin.sm {
    font-size:15px;
    padding-right:10px;
  }
  @include mixin.md {
    font-size:15px;
    padding-right:10px;
  }
  @include mixin.lg {
    font-size:15px;
    padding-right:10px;
  }
}

.fa-bars {
  @include mixin.sm {
    font-size: 15px;
  }
  @include mixin.md {
    font-size: 15px;
  }
  @include mixin.lg {
    font-size: 15px;
  }

}

.btnlg {
  @include mixin.xs {
    display:none;
  }
  @include mixin.sm {
    display:none;
  }
  @include mixin.md {
    display:none;
  }
  @include mixin.lg {
    display:none;
  }
} 

.btnmobile {
  @include mixin.xl {
    display:none;
  }
}

.mat-mdc-icon-button {
  font-size: 15px;
}

.btncoweb {
  margin-right:10px;
  @include mixin.xs {
    display:none;
  }
}

.btncomobile {
  border:none;
  font-weight:normal;
  background-color:var(--mat-sys-tertiary);
  color:white;
  padding-left: 15px;
  font-size:13px;
  @include mixin.sm {
    display:none;
  }
  @include mixin.md {
    display:none;
  }
  @include mixin.lg {
    display:none;
  }
  @include mixin.xl {
    display:none;
  }
  
}

.btninweb {

  @include mixin.xs {
    display:none;
  }
  
}

.btninmobile {
  border:none;
  font-weight:normal;
  background-color:var(--mat-sys-tertiary);
  color:white;
  margin-left:15px;
  font-size:13px;
  
  @include mixin.sm {
    display:none;
  }
  @include mixin.md {
    display:none;
  }
  @include mixin.lg {
    display:none;
  }
  @include mixin.xl {
    display:none;
  }
  
  
}

.none {
  display:none;
  @include mixin.xs {
    display:flex;
  }
  @include mixin.sm {
    display:flex;
  }
  @include mixin.md {
    display:flex;
  }
  @include mixin.lg {
    display:flex;
  }
}

.none i { 
  padding: 0 10px 0 10px;
  
}

.imgidentite {
  @include mixin.xs {
    padding-left:5px;
  }
  @include mixin.sm {
    padding-left:10px;
  }
  @include mixin.md {
    padding-left:10px;
  }
  @include mixin.lg {
    padding-left:10px;
  }
}