@use './styles/mixins' as mixin;
    :host {
      display:flex;
      flex:row;
      align-items:center;
      background-color:var(--primary);
      height:100px;
      color:white;
      padding:20px;
    }

    .sidenav {
  background:var(--gray-700);
  padding:20px;
  width:280px;
  @include mixin.lg-lt {
    display:none;
  }
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  
  
}

.navbar {
  display:flex;
  align-items:center;
  height:80px;
  background:var(--mat-sys-tertiary);
  padding-right:10px;

}

.photo {
  margin:auto;
  width:100%;
}

.navbar .fa-bars {
  color:white;
}

.navbar span {
  color:white;
}

.navbar img {
  width:60px;
  border-radius:100px;
  
}

.mat-sidenav-content {
  display:flex;
  flex-direction:column;
  background:var(--gray-700);
  
  
}


.navbar a {
  text-align:left;
  color:white;
} 


::ng-deep .customize {
  padding:15px 10px 10px 10px;
}

::ng-deep .customize button:hover {
  
  color:white;
  
}

.mat-mdc-menu-item:not([disabled]):hover {
  background-color:var(--gray-700);
}



.content {
  min-height: 100vh;
}

.card {
  background:white;
  box-shadow: black 0px 2px 2px;

}


